<nav class="navbar fixed-top navbar-light bg-light bg-primary">
  <img src="../../assets/images/logo.png" width="80" />
  <button
    [disabled]="loading"
    class="btn btn-warning"
    data-toggle="modal"
    data-target="#exampleModalnote"
  >
    <i class="fa fa-leaf"></i>&nbsp;Book now</button
  >&nbsp;&nbsp;
  <div class="dropdown">
    <button
      class="btn bg-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Read Other Notes
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a
        class="dropdown-item"
        href="javascript:void()"
        (click)="readOtherNotes(data._id)"
        *ngFor="let data of readAllDAta.reverse()"
        >{{ data.templatename }}</a
      >
    </div>
  </div>
</nav>
<div class="container" style="height: 1000px">
  <div class="row">
    <div class="col-sm-12" style="margin-top: -10px">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="ipdhead" style="text-transform: uppercase">
              {{ notification.hospital_name ? notification.hospital_name : "" }}
              New Note
            </h2>

            <h5 class="ipdwelcome" style="line-height: 22px">
              Checkout what's new in Your health care center
            </h5>
          </div>

          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordion"
          >
            <div class="card-body" innerHTML="{{ notification.content }}"></div>
          </div>
        </div>
      </div>

      <div class="form-group" style="margin-top: 20px; line-height: 50px">
        <button
          [disabled]="loading"
          class="btn btn-warning"
          data-toggle="modal"
          data-target="#exampleModalnote"
        >
          <i class="fa fa-leaf"></i>&nbsp;Book now</button
        >&nbsp;&nbsp;
        <a
          class="btn bg-primary"
          href="https://web.whatsapp.com/send?text=New Note From {{
            notification.hospital_name
          }}.  Find out what's new at your Health Centre; 1st to click, 1st to get 
          {{ repoUrl }}"
          target="_blank"
        >
          <i class="fa fa-whatsapp"></i>&nbsp; </a
        >&nbsp;
        <a
          class="btn bg-primary"
          target="_blank"
          href="https://www.facebook.com/share.php?u={{
            repoUrl
          }}&quote=New Note From {{
            notification.hospital_name
          }}.  Find out what's new at your Health Centre; 1st to click, 1st to get"
        >
          <i class="fa fa-facebook"></i>&nbsp;</a
        >&nbsp;
        <a
          class="btn bg-primary"
          target="_blank"
          href="https://www.linkedin.com/shareArticle?mini=true&url={{
            repoUrl
          }}"
        >
          <i class="fa fa-linkedin"></i>&nbsp;</a
        >&nbsp;
        <a
          class="btn bg-primary"
          target="_blank"
          href="http://twitter.com/share?text=New Note From {{
            notification.hospital_name
          }}.  Find out what's new at your Health Centre; 1st to click, 1st to get&url={{
            repoUrl
          }}&hashtags=NewNote from {{ notification.hospital_name }}
"
        >
          <i class="fa fa-twitter"></i>&nbsp;
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="exampleModalnote"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabelnote"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelnote">
          Registering for {{ notification.templatename }}
        </h5>
        <button
          type="button"
          class="close"
          id="aclose"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="Name"
              ><strong>Name</strong> <span class="mandtry">*</span>
            </label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
              maxlength="50"
            />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="Email"><strong>Email</strong> </label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              maxlength="100"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.pattern">
                Enter a valid email: No Caps,Check for @.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="Mobile"
              ><strong>Mobile</strong> <span class="mandtry">*</span>
            </label>
            <input
              type="text"
              formControlName="mobile"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
              maxlength="13"
            />
            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
              <div *ngIf="f.mobile.errors.required">Mobile no is required</div>
              <div *ngIf="f.mobile.errors.pattern">Only numbers Allowed</div>
              <div *ngIf="f.mobile.errors.minlength">
                Mobile no must have 10 digits
              </div>
            </div>
          </div>

          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>DOB</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                [readonly]="true"
                formControlName="DOB"
                [min]="minDate"
                [max]="tomorrow"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker startView="multi-year"> </mat-datepicker>
            </mat-form-field>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn bg-primary">Register</button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
