<div class="container">
  <div class="row">
    <span *ngIf="APPerformanceFlag">
      <form [formGroup]="registrationFormApp" (ngSubmit)="onSubmitApp()">
        <div class="col-sm-12">
          <div class="form-group">
            <p class="mar0">
              <strong>Rate our feedback app: </strong>
            </p>
            <div
              class="starrating d-flex justify-content-center flex-row-reverse"
            >
              <input
                type="radio"
                id="rating1"
                formControlName="rating"
                value="5"
              />

              <label for="rating1">5</label>
              <input
                type="radio"
                id="rating2"
                formControlName="rating"
                value="4"
              /><label for="rating2">4</label>
              <input
                type="radio"
                id="rating3"
                formControlName="rating"
                value="3"
              /><label for="rating3">3</label>
              <input
                type="radio"
                id="rating4"
                formControlName="rating"
                value="2"
              /><label for="rating4">2</label>
              <input
                type="radio"
                id="rating5"
                formControlName="rating"
                value="1"
              /><label for="rating5">1</label>
            </div>
          </div>

          <div class="form-group">
            <label for="Comments">Any comments to improve our app</label>
            <textarea
              formControlName="Comments"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.Comments.errors }"
            ></textarea>
          </div>

          <div class="form-group">
            <button [disabled]="loading" class="btn bg-primary">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              SUBMIT
            </button>
          </div>
        </div>
      </form>
    </span>
    <div class="col-sm-12" *ngIf="succesFB" style="margin-top: -30px">
      <h2 class="ipdhead">In Patient Department Feedback</h2>
      <h5 class="ipdwelcome">
        Welcome !. Thank you for choosing
        <span
          style="
            text-transform: uppercase;
            color: #036 !important;
            font-weight: bolder;
            text-decoration: underline;
          "
          >{{ hospital_Name }}</span
        >, please share your experience with our services
      </h5>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button
                  class="btn btn-link"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                  (click)="makeEvoid($event)"
                >
                  General Info
                </button>
              </h5>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div class="mandtry" *ngIf="registrationForminvalid">
                  <p>
                    Some mandatory fields are missing, please check and resubmit
                  </p>
                </div>
                <div class="form-group ginfowidth">
                  <label for="Name"
                    ><strong>Name</strong> <span class="mandtry">*</span>
                  </label>
                  <input
                    type="text"
                    formControlName="Name"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"
                    maxlength="50"
                  />
                  <div
                    *ngIf="submitted && f.Name.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.Name.errors.required">Name is required</div>
                  </div>
                </div>

                <!-- <div class="form-group ginfowidth">
                  <label for="lName">Last Name </label>
                  <input
                    type="text"
                    formControlName="lName"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.lName.errors }"
                    maxlength="50"
                  />
                  <div
                    *ngIf="submitted && f.lName.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.lName.errors.required">
                      Last Name is required
                    </div>
                  </div>
                </div> -->

                <div class="form-group ginfowidth">
                  <label for="Mobile"
                    ><strong>Mobile</strong> <span class="mandtry">*</span>
                  </label>
                  <input
                    type="text"
                    formControlName="Mobile"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.Mobile.errors }"
                    maxlength="13"
                  />
                  <div
                    *ngIf="submitted && f.Mobile.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.Mobile.errors.required">
                      Mobile is required
                    </div>
                    <div *ngIf="f.Mobile.errors.pattern">
                      Only numbers Allowed
                    </div>
                    <div *ngIf="f.Mobile.errors.minlength">
                      Mobile no must have 10 digits
                    </div>
                  </div>
                </div>

                <div class="form-group ginfowidth">
                  <label for="Email"><strong>Email</strong> </label>
                  <input
                    type="text"
                    formControlName="Email"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.Email.errors }"
                    maxlength="100"
                  />
                  <div
                    *ngIf="submitted && f.Email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.Email.errors.required">Email is required</div>
                  </div>
                </div>

                <div class="form-group ginfowidth">
                  <label><strong>Gender</strong>&nbsp;</label><br />
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      formControlName="Gender"
                      id="inlineRadio1"
                      value="Male"
                    />
                    <label class="form-check-label" for="inlineRadio1"
                      >Male</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      formControlName="Gender"
                      id="inlineRadio2"
                      value="Female"
                    />
                    <label class="form-check-label" for="inlineRadio2"
                      >Female</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      formControlName="Gender"
                      id="inlineRadio3"
                      value="Others"
                    />
                    <label class="form-check-label" for="inlineRadio3"
                      >Others</label
                    >
                  </div>
                </div>

                <div class="form-group ginfowidth">
                  <label for="Pincode"><strong>Pincode</strong> </label>
                  <input
                    type="text"
                    formControlName="Pincode"
                    class="form-control"
                    maxlength="8"
                  />
                </div>

                <div class="form-group ginfowidth">
                  <mat-form-field appearance="fill">
                    <mat-label>DOB</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      [readonly]="true"
                      formControlName="DOB"
                      [min]="minDate"
                      [max]="tomorrow"
                      (dateChange)="calAge($event)"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="multi-year">
                    </mat-datepicker>
                  </mat-form-field>
                  <input
                    type="text"
                    [readonly]="true"
                    formControlName="age"
                    class="form-control"
                    value="{{ cage }}"
                    style="width: 100px; float: right"
                  />
                </div>

                <div class="form-group ginfowidth">
                  <label for="regType" style="font-size: 14px"
                    ><strong>How did you come to know about Us</strong>
                  </label>
                  <select
                    class="form-control"
                    formControlName="HowdidyoucometoknowaboutUs"
                    [ngClass]="{
                      'is-invalid':
                        submitted && f.HowdidyoucometoknowaboutUs.errors
                    }"
                  >
                    <option value="" selected="selected">Select</option>
                    <option *ngFor="let rt of kabtUS" [ngValue]="rt">
                      {{ rt }}
                    </option>
                  </select>
                  <div
                    *ngIf="submitted && f.HowdidyoucometoknowaboutUs.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.HowdidyoucometoknowaboutUs.errors.required">
                      This field is required
                    </div>
                  </div>
                </div>

                <div class="form-group ginfowidth">
                  <label for="IPDCONSULTATIONNo" style="font-size: 14px"
                    ><strong>IPD – Consultation No</strong>
                  </label>
                  <input
                    type="text"
                    formControlName="IPDCONSULTATIONNo"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.IPDCONSULTATIONNo.errors
                    }"
                    maxlength="13"
                  />
                  <div
                    *ngIf="submitted && f.IPDCONSULTATIONNo.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.IPDCONSULTATIONNo.errors.required">
                      IPD-CONSULTATION No is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                  (click)="makeEvoid($event)"
                >
                  Feedback section
                </button>
              </h5>
            </div>
            <div
              id="collapseTwo"
              class="collapse show"
              aria-labelledby="headingTwo"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div class="form-group mart20">
                  <p *ngIf="submitted && f.Reception.errors" class="errred">
                    Required
                  </p>
                  <p class="mar0">
                    <strong>1. Reception: </strong>
                  </p>
                  <div
                    class="starrating d-flex justify-content-center flex-row-reverse"
                  >
                    <input
                      type="radio"
                      id="raipda1"
                      formControlName="Reception"
                      value="5"
                      name="Reception"
                    />
                    <!--  -->
                    <label for="raipda1">5</label><br />
                    <input
                      type="radio"
                      id="raipda2"
                      formControlName="Reception"
                      value="4"
                      name="Reception"
                    /><label for="raipda2">4</label><br />
                    <input
                      type="radio"
                      id="raipda3"
                      formControlName="Reception"
                      value="3"
                      name="Reception"
                    /><label for="raipda3">3</label><br />
                    <input
                      type="radio"
                      id="raipda4"
                      formControlName="Reception"
                      value="2"
                      name="Reception"
                    /><label for="raipda4">2</label><br />
                    <input
                      type="radio"
                      id="raipda5"
                      formControlName="Reception"
                      value="1"
                      name="Reception"
                    /><label for="raipda5">1</label>
                  </div>
                </div>

                <div class="form-group mart20">
                  <p *ngIf="submitted && f.StaffCourtesy.errors" class="errred">
                    Required
                  </p>
                  <p class="mar0">
                    <strong>2. Staff Courtesy: </strong>
                  </p>
                  <div
                    class="starrating d-flex justify-content-center flex-row-reverse"
                  >
                    <input
                      type="radio"
                      id="raipdb1"
                      formControlName="StaffCourtesy"
                      value="5"
                      name="StaffCourtesy"
                    />
                    <!--  -->
                    <label for="raipdb1">5</label><br />
                    <input
                      type="radio"
                      id="raipdb2"
                      formControlName="StaffCourtesy"
                      value="4"
                      name="StaffCourtesy"
                    /><label for="raipdb2">4</label><br />
                    <input
                      type="radio"
                      id="raipdb3"
                      formControlName="StaffCourtesy"
                      value="3"
                      name="StaffCourtesy"
                    /><label for="raipdb3">3</label><br />
                    <input
                      type="radio"
                      id="raipdb4"
                      formControlName="StaffCourtesy"
                      value="2"
                      name="StaffCourtesy"
                    /><label for="raipdb4">2</label><br />
                    <input
                      type="radio"
                      id="raipdb5"
                      formControlName="StaffCourtesy"
                      value="1"
                      name="StaffCourtesy"
                    /><label for="raipdb5">1</label>
                  </div>
                </div>

                <div class="form-group mart20">
                  <p
                    *ngIf="submitted && f.AbilitytoansweryourQueries.errors"
                    class="errred"
                  >
                    Required
                  </p>
                  <p class="mar0">
                    <strong>3. Ability to answer your Queries: </strong>
                  </p>
                  <div
                    class="starrating d-flex justify-content-center flex-row-reverse"
                  >
                    <input
                      type="radio"
                      id="raipdc1"
                      formControlName="AbilitytoansweryourQueries"
                      value="5"
                      name="AbilitytoansweryourQueries"
                    />
                    <!--  -->
                    <label for="raipdc1">5</label><br />
                    <input
                      type="radio"
                      id="raipdc2"
                      formControlName="AbilitytoansweryourQueries"
                      value="4"
                      name="AbilitytoansweryourQueries"
                    />
                    <!--  -->
                    <label for="raipdc2">4</label><br />
                    <input
                      type="radio"
                      id="raipdc3"
                      formControlName="AbilitytoansweryourQueries"
                      value="3"
                      name="AbilitytoansweryourQueries"
                    /><label for="raipdc3">3</label><br />
                    <input
                      type="radio"
                      id="raipdc4"
                      formControlName="AbilitytoansweryourQueries"
                      value="2"
                      name="AbilitytoansweryourQueries"
                    /><label for="raipdc4">2</label><br />
                    <input
                      type="radio"
                      id="raipdc5"
                      formControlName="AbilitytoansweryourQueries"
                      value="1"
                      name="AbilitytoansweryourQueries"
                    /><label for="raipdc5">1</label>
                  </div>
                </div>

                <div class="form-group mart20">
                  <p
                    *ngIf="submitted && f.GeneralComfortandCleanliness.errors"
                    class="errred"
                  >
                    Required
                  </p>
                  <p class="mar0">
                    <strong>4. General Comfort & Cleanliness: </strong>
                  </p>
                  <div
                    class="starrating d-flex justify-content-center flex-row-reverse"
                  >
                    <input
                      type="radio"
                      id="raipdd1"
                      formControlName="GeneralComfortandCleanliness"
                      value="5"
                      name="GeneralComfortandCleanliness"
                    />
                    <label for="raipdd1">5</label><br />
                    <input
                      type="radio"
                      id="raipdd2"
                      formControlName="GeneralComfortandCleanliness"
                      value="4"
                      name="GeneralComfortandCleanliness"
                    /><label for="raipdd2">4</label><br />
                    <input
                      type="radio"
                      id="raipdd3"
                      formControlName="GeneralComfortandCleanliness"
                      value="3"
                      name="GeneralComfortandCleanliness"
                    /><label for="raipdd3">3</label><br />
                    <input
                      type="radio"
                      id="raipdd4"
                      formControlName="GeneralComfortandCleanliness"
                      value="2"
                      name="GeneralComfortandCleanliness"
                    /><label for="raipdd4">2</label><br />
                    <input
                      type="radio"
                      id="raipdd5"
                      formControlName="GeneralComfortandCleanliness"
                      value="1"
                      name="GeneralComfortandCleanliness"
                    /><label for="raipdd5">1</label>
                  </div>
                </div>

                <div class="form-group mart20">
                  <p *ngIf="submitted && f.CarebyNurse.errors" class="errred">
                    Required
                  </p>
                  <p class="mar0">
                    <strong>5. Care by Nurses: </strong>
                  </p>
                  <div
                    class="starrating d-flex justify-content-center flex-row-reverse"
                  >
                    <input
                      type="radio"
                      id="raipde1"
                      formControlName="CarebyNurse"
                      value="5"
                      name="CarebyNurse"
                    />
                    <label for="raipde1">5</label><br />
                    <input
                      type="radio"
                      id="raipde2"
                      formControlName="CarebyNurse"
                      value="4"
                      name="CarebyNurse"
                    /><label for="raipde2">4</label><br />
                    <input
                      type="radio"
                      id="raipde3"
                      formControlName="CarebyNurse"
                      value="3"
                      name="CarebyNurse"
                    /><label for="raipde3">3</label><br />
                    <input
                      type="radio"
                      id="raipde4"
                      formControlName="CarebyNurse"
                      value="2"
                      name="CarebyNurse"
                    /><label for="raipde4">2</label><br />
                    <input
                      type="radio"
                      id="raipde5"
                      formControlName="CarebyNurse"
                      value="1"
                      name="CarebyNurse"
                    /><label for="raipde5">1</label>
                  </div>
                </div>

                <div class="form-group ginfowidth">
                  <label for="nurses"
                    >Name the Nurses<span class="optional">(Optional)</span>
                  </label>
                  <input
                    type="text"
                    formControlName="nurses"
                    class="form-control"
                    maxlength="100"
                  />
                </div>

                <div class="form-group mart20">
                  <p *ngIf="submitted && f.CarebyDoctor.errors" class="errred">
                    Required
                  </p>
                  <p class="mar0">
                    <strong>6. Care by Doctors: </strong>
                  </p>
                  <div
                    class="starrating d-flex justify-content-center flex-row-reverse"
                  >
                    <input
                      type="radio"
                      id="raipdf1"
                      formControlName="CarebyDoctor"
                      value="5"
                      name="CarebyDoctor"
                    />
                    <label for="raipdf1">5</label><br />
                    <input
                      type="radio"
                      id="raipdf2"
                      formControlName="CarebyDoctor"
                      value="4"
                      name="CarebyDoctor"
                    /><label for="raipdf2">4</label><br />
                    <input
                      type="radio"
                      id="raipdf3"
                      formControlName="CarebyDoctor"
                      value="3"
                      name="CarebyDoctor"
                    /><label for="raipdf3">3</label><br />
                    <input
                      type="radio"
                      id="raipdf4"
                      formControlName="CarebyDoctor"
                      value="2"
                      name="CarebyDoctor"
                    /><label for="raipdf4">2</label><br />
                    <input
                      type="radio"
                      id="raipdf5"
                      formControlName="CarebyDoctor"
                      value="1"
                      name="CarebyDoctor"
                    /><label for="raipdf5">1</label>
                  </div>
                </div>

                <div class="form-group ginfowidth">
                  <label for="nurses"
                    >Name the Doctors<span class="optional">(Optional)</span>
                  </label>
                  <input
                    type="text"
                    formControlName="doctors"
                    class="form-control"
                    maxlength="100"
                  />
                </div>

                <div class="form-group mart20">
                  <p
                    *ngIf="submitted && f.LaboratoryService.errors"
                    class="errred"
                  >
                    Required
                  </p>
                  <p class="mar0">
                    <strong>7. Laboratory Service: </strong>
                  </p>
                  <div
                    class="starrating d-flex justify-content-center flex-row-reverse"
                  >
                    <input
                      type="radio"
                      id="raipdg1"
                      formControlName="LaboratoryService"
                      value="5"
                      name="LaboratoryService"
                    />
                    <label for="raipdg1">5</label><br />
                    <input
                      type="radio"
                      id="raipdg2"
                      formControlName="LaboratoryService"
                      value="4"
                      name="LaboratoryService"
                    /><label for="raipdg2">4</label><br />
                    <input
                      type="radio"
                      id="raipdg3"
                      formControlName="LaboratoryService"
                      value="3"
                      name="LaboratoryService"
                    /><label for="raipdg3">3</label><br />
                    <input
                      type="radio"
                      id="raipdg4"
                      formControlName="LaboratoryService"
                      value="2"
                      name="LaboratoryService"
                    /><label for="raipdg4">2</label><br />
                    <input
                      type="radio"
                      id="raipdg5"
                      formControlName="LaboratoryService"
                      value="1"
                      name="LaboratoryService"
                    /><label for="raipdg5">1</label>
                  </div>
                </div>

                <div class="form-group mart20">
                  <p
                    *ngIf="submitted && f.PharmacyService.errors"
                    class="errred"
                  >
                    Required
                  </p>
                  <p class="mar0">
                    <strong>8. Pharmacy Service: </strong>
                  </p>
                  <div
                    class="starrating d-flex justify-content-center flex-row-reverse"
                  >
                    <input
                      type="radio"
                      id="raipdh1"
                      formControlName="PharmacyService"
                      value="5"
                      name="PharmacyService"
                    />
                    <label for="raipdh1">5</label><br />
                    <input
                      type="radio"
                      id="raipdh2"
                      formControlName="PharmacyService"
                      value="4"
                      name="PharmacyService"
                    /><label for="raipdh2">4</label><br />
                    <input
                      type="radio"
                      id="raipdh3"
                      formControlName="PharmacyService"
                      value="3"
                      name="PharmacyService"
                    /><label for="raipdh3">3</label><br />
                    <input
                      type="radio"
                      id="raipdh4"
                      formControlName="PharmacyService"
                      value="2"
                      name="PharmacyService"
                    /><label for="raipdh4">2</label><br />
                    <input
                      type="radio"
                      id="raipdh5"
                      formControlName="PharmacyService"
                      value="1"
                      name="PharmacyService"
                    /><label for="raipdh5">1</label>
                  </div>
                </div>

                <!-- <div class="form-group mart20">
                  <p class="mar0">
                    <strong>9. Overall coordination of Care: </strong>
                  </p>
                  <div class="starrating d-flex justify-content-center flex-row-reverse">
                    
                      <input
                        type="radio"
                        id="raipdi1"
                        formControlName="OverallcoordinationofCare"
                        value="1"
                        name="OverallcoordinationofCare"
                      />
                      <label for="raipdi1">Poor</label><br />
                      <input
                        type="radio"
                        id="raipdi2"
                        formControlName="OverallcoordinationofCare"
                        value="2"
                        name="OverallcoordinationofCare"
                      /><label
                        for="raipdi2"
                        >Average</label
                      ><br />
                      <input
                        type="radio"
                        id="raipdi3"
                        formControlName="OverallcoordinationofCare"
                        value="3"
                        name="OverallcoordinationofCare"
                      /><label
                        for="raipdi3"
                        >Good</label
                      ><br />
                      <input
                        type="radio"
                        id="raipdi4"
                        formControlName="OverallcoordinationofCare"
                        value="4"
                        name="OverallcoordinationofCare"
                      /><label
                        for="raipdi4"
                        >Better</label
                      ><br />
                      <input
                        type="radio"
                        id="raipdi5"
                        formControlName="OverallcoordinationofCare"
                        value="5"
                        name="OverallcoordinationofCare"
                      /><label
                        for="raipdi5"
                        >Excellent</label
                      >
                    
                  </div>
                </div> -->

                <div class="form-group mart20">
                  <p *ngIf="submitted && f.FoodService.errors" class="errred">
                    Required
                  </p>
                  <p class="mar0">
                    <strong>9. Food Service: </strong>
                  </p>
                  <div
                    class="starrating d-flex justify-content-center flex-row-reverse"
                  >
                    <input
                      type="radio"
                      id="raipdj1"
                      formControlName="FoodService"
                      value="5"
                      name="FoodService"
                    />
                    <label for="raipdj1">5</label><br />
                    <input
                      type="radio"
                      id="raipdj2"
                      formControlName="FoodService"
                      value="4"
                      name="FoodService"
                    /><label for="raipdj2">4</label><br />
                    <input
                      type="radio"
                      id="raipdj3"
                      formControlName="FoodService"
                      value="3"
                      name="FoodService"
                    /><label for="raipdj3">3</label><br />
                    <input
                      type="radio"
                      id="raipdj4"
                      formControlName="FoodService"
                      value="2"
                      name="FoodService"
                    /><label for="raipdj4">2</label><br />
                    <input
                      type="radio"
                      id="raipdj5"
                      formControlName="FoodService"
                      value="1"
                      name="FoodService"
                    /><label for="raipdj5">1</label>
                  </div>
                </div>

                <div class="form-group mart20">
                  <p
                    *ngIf="submitted && f.AdmissionProcess.errors"
                    class="errred"
                  >
                    Required
                  </p>
                  <p class="mar0">
                    <strong>10. Admission Process: </strong>
                  </p>
                  <div
                    class="starrating d-flex justify-content-center flex-row-reverse"
                  >
                    <input
                      type="radio"
                      id="raipdk1"
                      formControlName="AdmissionProcess"
                      value="5"
                      name="AdmissionProcess"
                    />
                    <label for="raipdk1">5</label><br />
                    <input
                      type="radio"
                      id="raipdk2"
                      formControlName="AdmissionProcess"
                      value="4"
                      name="AdmissionProcess"
                    /><label for="raipdk2">4</label><br />
                    <input
                      type="radio"
                      id="raipdk3"
                      formControlName="AdmissionProcess"
                      value="3"
                      name="AdmissionProcess"
                    /><label for="raipdk3">3</label><br />
                    <input
                      type="radio"
                      id="raipdk4"
                      formControlName="AdmissionProcess"
                      value="2"
                      name="AdmissionProcess"
                    /><label for="raipdk4">2</label><br />
                    <input
                      type="radio"
                      id="raipdk5"
                      formControlName="AdmissionProcess"
                      value="1"
                      name="AdmissionProcess"
                    /><label for="raipdk5">1</label>
                  </div>
                </div>

                <div class="form-group mart20">
                  <p
                    *ngIf="submitted && f.DischargeProcess.errors"
                    class="errred"
                  >
                    Required
                  </p>
                  <p class="mar0">
                    <strong>11. Discharge Process: </strong>
                  </p>
                  <div
                    class="starrating d-flex justify-content-center flex-row-reverse"
                  >
                    <input
                      type="radio"
                      id="raipdl1"
                      formControlName="DischargeProcess"
                      value="5"
                      name="DischargeProcess"
                    />
                    <label for="raipdl1">5</label><br />
                    <input
                      type="radio"
                      id="raipdl2"
                      formControlName="DischargeProcess"
                      value="4"
                      name="DischargeProcess"
                    /><label for="raipdl2">4</label><br />
                    <input
                      type="radio"
                      id="raipdl3"
                      formControlName="DischargeProcess"
                      value="3"
                      name="DischargeProcess"
                    /><label for="raipdl3">3</label><br />
                    <input
                      type="radio"
                      id="raipdl4"
                      formControlName="DischargeProcess"
                      value="2"
                      name="DischargeProcess"
                    /><label for="raipdl4">2</label><br />
                    <input
                      type="radio"
                      id="raipdl5"
                      formControlName="DischargeProcess"
                      value="1"
                      name="DischargeProcess"
                    /><label for="raipdl5">1</label>
                  </div>
                </div>

                <div class="form-group mart20">
                  <p
                    *ngIf="submitted && f.RoomServiceFacilities.errors"
                    class="errred"
                  >
                    Required
                  </p>
                  <p class="mar0">
                    <strong>12. Room Service & Facilities: </strong>
                  </p>
                  <div
                    class="starrating d-flex justify-content-center flex-row-reverse"
                  >
                    <input
                      type="radio"
                      id="raipdm1"
                      formControlName="RoomServiceFacilities"
                      value="5"
                      name="RoomServiceFacilities"
                    />
                    <label for="raipdm1">5</label><br />
                    <input
                      type="radio"
                      id="raipdm2"
                      formControlName="RoomServiceFacilities"
                      value="4"
                      name="RoomServiceFacilities"
                    /><label for="raipdm2">4</label><br />
                    <input
                      type="radio"
                      id="raipdm3"
                      formControlName="RoomServiceFacilities"
                      value="3"
                      name="RoomServiceFacilities"
                    /><label for="raipdm3">3</label><br />
                    <input
                      type="radio"
                      id="raipdm4"
                      formControlName="RoomServiceFacilities"
                      value="2"
                      name="RoomServiceFacilities"
                    /><label for="raipdm4">2</label><br />
                    <input
                      type="radio"
                      id="raipdm5"
                      formControlName="RoomServiceFacilities"
                      value="1"
                      name="RoomServiceFacilities"
                    /><label for="raipdm5">1</label>
                  </div>
                </div>

                <div class="form-group mart20">
                  <p *ngIf="submitted && f.CostVsService.errors" class="errred">
                    Required
                  </p>
                  <p class="mar0">
                    <strong>13. Cost Vs Service: </strong>
                  </p>
                  <div
                    class="starrating d-flex justify-content-center flex-row-reverse"
                  >
                    <input
                      type="radio"
                      id="raipdn1"
                      formControlName="CostVsService"
                      value="5"
                      name="CostVsService"
                    />
                    <label for="raipdn1">5</label><br />
                    <input
                      type="radio"
                      id="raipdn2"
                      formControlName="CostVsService"
                      value="4"
                      name="CostVsService"
                    /><label for="raipdn2">4</label><br />
                    <input
                      type="radio"
                      id="raipdn3"
                      formControlName="CostVsService"
                      value="3"
                      name="CostVsService"
                    /><label for="raipdn3">3</label><br />
                    <input
                      type="radio"
                      id="raipdn4"
                      formControlName="CostVsService"
                      value="2"
                      name="CostVsService"
                    /><label for="raipdn4">2</label><br />
                    <input
                      type="radio"
                      id="raipdn5"
                      formControlName="CostVsService"
                      value="1"
                      name="CostVsService"
                    /><label for="raipdn5">1</label>
                  </div>
                </div>

                <div class="form-group">
                  <label for="address">
                    <strong>
                      Any Comments to help us improve our Services.</strong
                    ></label
                  >
                  <textarea
                    formControlName="Comments"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.Comments.errors }"
                  ></textarea>
                </div>

                <!-- <div class="form-group mart20">
                  <p class="mar0">
                    <strong>Client Experience: </strong>
                  </p>
                  <div class="starrating d-flex justify-content-center flex-row-reverse">
                    
                      <input
                        type="radio"
                        id="raipdo1"
                        formControlName="ClientExperience"
                        value="1"
                        name="ClientExperience"
                      />
                      <label for="raipdo1">Poor</label>
                      <input
                        type="radio"
                        id="raipdo2"
                        formControlName="ClientExperience"
                        value="2"
                        name="ClientExperience"
                      /><label
                        for="raipdo2"
                        >Average</label
                      >
                      <input
                        type="radio"
                        id="raipdo3"
                        formControlName="ClientExperience"
                        value="3"
                        name="ClientExperience"
                      /><label
                        for="raipdo3"
                        >Good</label
                      >
                      <input
                        type="radio"
                        id="raipdo4"
                        formControlName="ClientExperience"
                        value="4"
                        name="ClientExperience"
                      /><label
                        for="raipdo4"
                        >Better</label
                      >
                      <input
                        type="radio"
                        id="raipdo5"
                        formControlName="ClientExperience"
                        value="5"
                        name="ClientExperience"
                      /><label
                        for="raipdo5"
                        >Excellent</label
                      >
                    
                  </div>
                </div> -->

                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="WillyourecommendUs"
                    name="WillyourecommendUs"
                    formControlName="WillyourecommendUs"
                    style="padding: 40px"
                  />
                  <label class="form-check-label" for="WillyourecommendUs"
                    >Will you recommend Us ?</label
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                  (click)="makeEvoid($event)"
                >
                  Personnel Info
                </button>
              </h5>
            </div>
            <div
              id="collapseThree"
              class="collapse show"
              aria-labelledby="headingThree"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div class="form-group ginfowidth">
                  <label for="RoomNo">Room No: </label>
                  <input
                    type="text"
                    formControlName="RoomNo"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.RoomNo.errors }"
                    maxlength="13"
                  />
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="mandtry" *ngIf="registrationForminvalid">
          <p>Some mandatory fields are missing, please check and resubmit</p>
        </div>
        <div class="form-group" style="margin-top: 20px">
          <button [disabled]="loading" class="btn bg-primary">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Submit Feedback
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
