<h3>Notification Templates</h3>
<div class="float-right">
  <button
    type="button"
    routerLink="/addnotification"
    class="btn btn-primary"
    [disabled]="notifications.length == 10"
  >
    Add Notification
  </button>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Action</th>
        <th scope="col">Name</th>
        <th scope="col">CreatedDate</th>
      </tr>
    </thead>
    <div class="center" *ngIf="notifications.length == 0" align="center">
      <strong>No Records Found...</strong>
    </div>
    <tbody>
      <tr *ngFor="let data of notifications; let i = index">
        <th scope="row">
          <a href="javascript:void();" (click)="sendEditData(data)">
            <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;Edit</a
          >
          <!-- &nbsp;&nbsp;&nbsp;
          <a
            href="javascript:void();"
            data-toggle="modal"
            data-backdrop="static"
            data-keyboard="false"
            data-target="#exampleModal"
            (click)="getUserID(user.id)"
            *ngIf="data.status"
          >
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a> -->
        </th>
        <td>{{ data.templatename }}</td>
        <td>{{ data.createdDate | date: "dd/MM/yyyy" }}</td>
      </tr>
    </tbody>
  </table>
</div>
